#NavbarButton:hover{
-fx-background-color: #18A4E0;
-fx-background-radius:10px;
-fx-text-fill: white;
}
#NavbarButton{
-fx-background-color:transparent;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
